@use"./variables" as *;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kanit", sans-serif;
    width: 80%;
    margin: 0 auto;
}

ul{
    list-style: none;
}



a{
text-decoration: none;
color:$black;
padding: 4px
}

ul, li{
    list-style-type: none;
    text-transform: capitalize;
}





