@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

section{
    .hero{
        @include flex(space-between, center);
        margin-top: 1em;
        
    }

    .search{
      width:max-content; 
      display: flex;
      align-items: center;
      border-top-right-radius:0;
      border-bottom-right-radius:0;
      background: #fff;
      border: 2px solid #F4F7FB;
      padding-left: 10px;

    }

    .search-input{
       font-size: 16px;
       padding: 16px;
       margin-left: 14px;
       outline: none;
       border: none;
       background:transparent;
       color:#333333

    }

    form{
@include flex(center,center);
margin-right:10em; 

    }
    
    .button{
        padding: 16px;
        color:white;
        background-color: black;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
    }

    .hero-right{
        margin-top:3em;
    }

    .p1{
        margin-top: 0.5em
    }

    }

    .box{
        margin-top: 2em;
        background-color: #F4F7FB;
        @include flex(center,center,column);
        padding: 2em;
    }

    .img{
        @include flex(center,center);
        background-color: black;
        border-radius: 50%;
        padding: 10px;
       
    }

    h4{
        margin-top: 1em;
    }

    h1{
        font-size: 3.5rem;
        margin-top:10px
    }

   .ratings{
    @include flex(space-between, start);
   }

   .main-pizza{
    margin-left: 6em;
   }



// MEDIA QUARIES
   @media screen and (max-width: 600px){
    h1{
        width: 100%;
        font-size: 40px;
    }

    p{
        font-size: 10px;
        flex-wrap: wrap;
        width: 100%;
    }

    .hero-right{
        display: none;
    }

    .ratings{
        width: 100%;
        flex-direction: column;
        margin-left: 8em;
    }

    
   }

