@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
nav {
  background-color: $light-grey;
  .nav {
    @include flex(space-between, center);
  }
  .nav-center {
    ul {
      @include flex(space-between, center);
      li {
        a {
          padding: 20px;
          display: inline-block;
          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
  .nav-right {
    @include flex(space-between, center);
    gap:20px;
    .fa-bars {
      display:block;
    }
  }
}

// MEDIA QUERIE
@media screen and (max-width: 600px){
    .nav-center{
        display: none;
    }

    .fa-bars{
        display: block;
    }


}
