@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;



.for-you-shop{
    @include flex(space-between, center);
   }


   .spacial-box-shop{
    margin-top: 7em;
background-color: #F4F7FB;
@include flex(center,center,column);
padding: 0.5em 3em;
   }

   .special-btn-shop{
    padding: 15px 40px;
    color: white;
    background-color: black;
    margin-bottom: -4em;
    margin-top: 1em;
    cursor: pointer;
   }

   .for-you-img{
    margin-top: -4em;
   }

   .new-menu{
    @include flex(center,center,column);
    margin-top: 7em;
}

// MEDIA QUIRIES

@media screen and (max-width:600px){
     .for-you-shop{
        width: 100%;
        flex-direction: column;
     }

     .Special-menu{
        font-size: 10px;
     }
    
  
}